@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu Mono', monospace;
}
a{
    text-decoration: none;
}
.bg-light-orange{
    background-color: #FCEAE8;
}
.bg-light-purple{
    background-color: #DA70D6;
}
.bg-tomato, .btn-tomato{
    background-color: #FF136F;
    color: #fff;
}
.carousel-item{
    height: 584px;
}
.carousel-item1{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-item2{
    background-image: url(../images/carousel2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-item3{
    background-image: url(../images/carousel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-caption{
    width: 640px;
    height: 230px;
}

@media (max-width:767px){
    .carousel-caption{
        width: 90%;
    }
}