/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500;700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
p, small, span{
    font-family: 'Montserrat', sans-serif;
}
.bg-tomato, .btn-tomato{
    background-color: #FF136F;
    color: #fff;
}
.check-icon{
    background-color: #ccc;
    color: #5243C2;
    padding: 3px;
}
.choose-plan-btn{
    background-color: #f496d262;
    color: #3f88f5dc;
}
/* carousel custom css */
.carousel-item{
    height: 584px;
}
.carousel-item1{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-item2{
    background-image: url(../images/carousel2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-item3{
    background-image: url(../images/carousel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-caption{
    width: 640px;
    height: 230px;
}
/* highlighted packege */
.hot-plan{
    border-radius: 25px;
    box-shadow:  0px 22px 34px rgba(13, 202, 240, .25);
}
.hot-plan .check-icon{
    background-color: #0cb6d8;
    color: #fff;
    padding: 3px;
}

@media (max-width:767px){
    .carousel-caption{
        width: 90%;
    }
}
@media (max-width:350px){
    .navbar-brand{
        font-size: 15px;
    }
}